<!DOCTYPE html>
<html lang="en">
<head>
    <!--Basic Meta-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{title}}</title>

    <!--WebFonts and CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <!--suppress HtmlUnknownTarget -->
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!--Site manifest-->
    <!--suppress HtmlUnknownTarget -->
    <link rel="manifest" href="/manifest.json"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{{body}}}
</body>
</html>
